<div class="navbar row">
    <div class="col-lg-9 ps-5">
        <div>
            <img class="pb-2" style="height: 100px;" src="https://tse4.mm.bing.net/th?id=OIP.TltrbWnaGERYpigfrbegDQHaEK&pid=Api&P=0" alt="">
        </div>
    </div>
    <div class="col-lg-1 ps-5">
        <img style="height: 40px;" src="https://www.freeiconspng.com/uploads/heart-outline-19.png" alt="">
    </div>
    <div class="col-lg-1 pe-5">
        <img style="height: 25px;" src="http://cdn.onlinewebfonts.com/svg/img_290616.png" alt="">
    </div>
</div>

<div class="">
 <div class="text-center row text-decoration-none ">
    <div class="col-lg-1"></div>
    <div class="col-lg-2"><a class="text-decoration-none text-dark" href="">HOME</a></div>
    <div class="col-lg-2"><a class="text-decoration-none text-dark" href="">MENS</a></div>
    <div class="col-lg-2"><a class="text-decoration-none text-dark" href="">WOMENS</a></div>
    <div class="col-lg-2"><a class="text-decoration-none text-dark" href="">KIDS</a></div>
    <div class="col-lg-2"><a class="text-decoration-none text-dark" href="">SPORTS WEAR</a></div>
 </div>
</div>
